<h1>Blog</h1>
<ul>
<% posts.forEach(function(post){ %>
<h3><a href="/post/<%= post.id %>"><%= post.title %></a></h3>
<p><%= post.content %></p>
<strong><%= post.createdAt %></strong>
<hr />
<% }); %>
</ul>
